*, *::before, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  font-size: 12px;
}

a, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1420px;
  padding: 0 1rem;
}
